extends layout

block content
  div.center-container
    h1 Hello, #{user.username}
    h2.form-heading Affirmation Setup

    // Input for setting affirmation duration
    form(action="/set-affirmation-duration" method="POST")
      label(for="affirmationDuration") Set Duration (in seconds):
      input(type="number" id="affirmationDuration" name="affirmationDuration" value=user.affirmationDuration || "")
      input(type="submit" value="Set Duration")

    // Check if affirmations exist
    if user.affirmations
      each category, categoryName in categoriesWithSpaces
        .card.mb-4
          .card-header
            h3= categoryName
          .card-body
            ul.affirmation-list.list-group
              each affirmation, point in category
                li.list-group-item #{point}: #{affirmation}
          .card-footer
            a.btn.btn-primary(href="/edit-affirmations/#{categoryName}") Edit
      // Button to enter new affirmations
      a.btn.btn-primary(href="/enter-affirmations") Enter New Affirmations
    else
      .alert.alert-warning You have no affirmations. Would you like to #[a(href="/enter-affirmations") enter some]?
