extends layout

block content
  div.main-container.container
    div.center-container.text-center
      h1 Enter Your Affirmations
      form(action="/submit-affirmations" method="POST", class="affirmation-form")
        
        each section in ['Addressing Insecurities', 'Shifting to Desires', 'Giving Permission', 'Affirmations and Gratitude']
          div.affirmation-section
            h3 #{section}
            div.row
              each point in ['topOfHead', 'eyebrow', 'sideOfEye', 'underEye', 'underNose', 'chin', 'collarbone', 'underArm']
                div.col-md-6.form-group
                  label(for=`${section.toLowerCase().replace(/\s+/g, '')}[${point}]`) #{point}
                  textarea.form-control(name=`${section.toLowerCase().replace(/\s+/g, '')}[${point}]`, rows="2")
                
        button.btn.btn-primary(type="submit") Submit
